<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477895767610-8n4fq744afkj6tucup0f49agt6dj0d0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477895767610-8n4fq744afkj6tucup0f49agt6dj0d0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBmGhrQGHFFPcWewgTtP6TtFBh_T3dD2Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>477895767610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.suyeon.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-a2dda</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-a2dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477895767610:ios:8fc540d3bd3d0c99a86703</string>
	<key>DATABASE_URL</key>
	<string>https://uber-a2dda.firebaseio.com</string>
</dict>
</plist>